@{
    ViewBag.Title = "Home Page";
}
 <link href="style.css" rel="stylesheet" type="text/css" />
     <body id="login-page">

    <div id="container">

        <div id="form-container">
                       <h1 id="title">Welcome to the Bendigo Food Share<br> Food Donation Marketplace </h1>
        


<h2>For Suppliers:</h2>

<p>Donate food that may be:<br>
Surplus stock<br>
Near the end of its shelf life<br>
Mislabelled stock<br>
A proportion of your output<br>

</p> 

<h2> For Agency's: </h2>
<p> Browse the donations marketplace <br>
<p>Claim and redistribute food <br>
Make donations<br>


</p>


        </div>
        <div id="logo-container">
            <img src="https://bendigofoodshare.org.au/wp-content/uploads/2016/12/foodshare_150_x_79.png" alt="bendigo foodshare logo" class="logo" />
        </div>

    </div>
</body>
