body {
    padding-top: 50px;
    padding-bottom: 20px;

    /*background: transparent url('/Content/Images/background.png') no-repeat center center;
    background-size: cover;*/

    background-color: #f8be94;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse {
    background-color: #765a45;
    border-color: #765a45;
}
