body {
    padding-top: 50px;
    padding-bottom: 20px;

    /*background: transparent url('/Content/Images/background.png') no-repeat center center;
    background-size: cover;*/

    background-color: rgba(255, 116, 0, 0.1);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse {
    background-color: #ca1240;
    border-color: #ca1240;
}

.hero-image {
    background: transparent url('/Content/Images/Sandwiches_Vienna.jpg') no-repeat center center;
    background-size: cover;
    min-height: 300px;
    padding: 2em;
}

.hero-image h1 {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
}
